.flex-row.row {
    display: flex;
    flex-wrap: wrap;
}
.bg-white{
    background-color: #fff;
}
.bg-grey{
    background-color: #f9f9f9!important;
}
.bg-green{
    background-color: #00b289;
}
.full-width-a{
    display: block;
    width: 100%;
}
.float-right{
    float: right;
}
.float-left{
    float:left;
}
.no-padding-right{
    padding-right:0px!important;
}
.no-padding-left{
    padding-left: 0px!important;
}
.no-padding-top{
    padding-top: 0px!important;
}
.no-padding-bottom{
    padding-bottom: 0px!important;
}
.no-margin-left{
    margin-left: 0px!important;
}
.no-margin-right{
    margin-right: 0px!important;
}
.no-margin-top{
    margin-top: 0px!important;
}
.no-margin-bottom{
    margin-bottom: 0px!important;
}
.user-avatar-small{
width: 32px;
height: 32px;
}
.user-avatar-medium{
    width: 64px;
    height: 64px;
}
.user-avatar-big{
    width:90px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}
.badge-notification{
    float: right;
}
.sub-menu-wide{
    width:270px!important;
}
.login-logo img{
    margin: 6px;
    height: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/*--- White-header ---*/
.white-header{
    background-color: #fff!important;
    border-bottom: 1px solid rgba(0,0,0, 0.08);
    height:75px;
}
.white-nav-icon .icon-bar{
    background-color:#919191!important;
}
.white-menu ul li a{
    color:#919191!important;
}
.white-menu ul li a:hover{
    color:#00b289!important;
}
.white-login{
}
.white-menu .sub-menu{
    border:1px solid rgba(0,0,0, 0.08);
}
.white-menu .sub-menu:after{
    display: none;
}
.white-menu ul li:before{
    border-right: 1px solid rgba(0, 0, 0, 0.075);
    content: "";
    height: 3.5rem;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
}
.borderless ul li:before{
    border:none!important;
}
.sub-menu li:before{
    display: none;
}

/*---- WHITE-HEADER-END ----*/


/*-----  FOOTER  -----*/
.footer-social-icons li{
    margin-right: 10px;
}
.footer-social-icons i{
    color:#fff;
}
.footer-social-icons i:hover{
    color:#00b289;
}
/*----- FOOTER END -----*/

/*------ ALERTS -----*/
.nav-pills li a:hover{
    color: #00b289;
}
.reservation-panel{
    font-size: 13px;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0, 0.085);
}
.alerts-car-img{
    height: 32px;
    width: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    display: inline-block;
}
.alerts-car-label{
    font-size: 13px;
    color: #000;
    vertical-align: top;
    display: inline-block;
}
.review-date {
    color: #cccccc;
    font-size: 10px;
    float: right;
    display: block;
    margin-bottom: 15px;
}
.dashboard-heading{
    font-size: 18px;
}
.alers-name{
    font-size: 13px;
    margin-left: 4px;
    color:#000;
}
.message-snippet{
    line-height: 32px;
}
.message-tab{
    float: right;
}
.alerts-message{
    font-size: 13px;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0, 0.085);
}
/*----MY BORROWINGS -------*/
.borrowing-heading{
    font-size: 16px;
    color:#919191;
}
.borrowing-status{
    float: right;
    font-size: 16px;
    margin-right: 5px;
}
.borrowing-marka{
    font-size:16px;
    color:#919191;
    background-color: #fff;
    display: inline-block;
}
.price-multiplier{
    font-size: 13px;
    color:#919191;
}
.secondary-menu{

}
.secondary-menu ul{

}
.secondary-menu a{
    color: #919191;

}
.secondary-menu .active:before{
    background: #00b289;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 16px;
    position: absolute;
    right: 16px;
    top: auto;
    width: auto;
}
.dashboard-tabs, .nav-tabs > li.active > a , .nav-tabs > li > a:hover {
    background-color: #00b289!important;
}
.borrowings-pills li a{
    margin-bottom: 5px;
    color:#919191;
}
.borrowings-pills li a:hover{
    color:#00b289;
}
.borrowings-pills .active:before {
    background: #00b289;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 16px;
    position: absolute;
    right: 16px;
    top: auto;
    width: auto;
}
.borrowing-box{
    margin-top:20px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    border:1px solid rgba(0,0,0, 0.085);
}
.borrowing-image-panel{
    height: 230px;
    width: 100%;

}
.borrowing-image-panelB{
    height: 300px;
    width: 100%;
}
.borrowing-img{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
}
.borrowing-cur-status{
    background-color: rgba(80, 80, 80, 0.72);
    color: white;
    font-size: 20px;
    padding: 3px 10px;
    float: right;
}
.price-tag{
    background-color: rgba(80, 80, 80, 0.72);
    color: white;
    font-size: 16px;
    padding: 5px 7px;
    position: absolute;
}
.borrowing-period-head{
    text-align: center;
    color: #919191;
    padding: 5px;
}
.borrowing-period{
    text-align: center;
    font-size: 14px;
    padding:8px;
}
.borrowing-view-more{
    background-color: #00b289;
    text-align: center;
    width: 100%;
    padding:8px;
    bottom:0;
    position: relative;
}
.borrowing-view-more a{
    color:#fff;
    width:100%;
}
.borrowing-view-more:hover{
    background-color: #034748;
}
/*----MY BORROWINGS END-------*/

/*--------- RENTALS ---------*/
.rent-header{
    font-weight: bold;
    background-color: #fff;
    padding:10px;
    height: 100%;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0, 0.085);
}
.lender-info{
    border-bottom: 1px solid rgba(0,0,0, 0.085);
    border-right: 1px solid rgba(0,0,0, 0.085);
    background-color: #fff;
}
.lender-info li{
    padding:8px;
    text-align: center;
}
.rental-model{
    font-size: 21px;
    font-weight: 500;
    padding:9px;
    background-color: #fff;

}

/*-------- RENTALS END ------*/

/*------Item BOX  --------*/
.item-box{

}
/*------Item BOX  END--------*/
/*------- Search Starts--------*/
.search-form .form-group label{
    color:#fff!important;
}
.search-form{
    margin: 5px;
}
.searchrow .form-control {
    height: 44px;
}
.search-date{
    height: 35px;
    border-radius:0px 3px 3px 0px;
    border:1px solid rgba(0,0,0,0.085);
}
/*------- Search Ends--------*/

@media screen and (max-width: 480px) {
    .message-snippet {
        line-height: 16px!important;
        font-size: 12px;
    }
    .alers-name{
        font-size: 12px;
    }
}

