.ld-primary-btn, .ld-search-btn:hover, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .ld-submit-btn, .secondary-btn:hover, .categories-container li a, .btn-first-hover:hover, .btn-second-hover, .about-box-icon, .secondary-btn:active, .secondary-btn:focus {
    background-color: #034748
}

input, span
.form-group label, .ld-sub-title, .ld-blog-grid-category a, .ld-blog-grid-author li i, .user-text, .post-stat li, .post-stat li a, .menu ul.sub-menu li a, .listing-page-result-row p a, p a.achor-color:hover, .form-group label, .blog-tags ul li a, .post-meta-left-box .breadcrumbs li a, .post-meta-left-box .breadcrumbs li span, .tags-container li a span, .price-plan-content ul li span, .paragraph-form, .form-review-stars li i, .form-review-stars li a, .form-group p, .post-meta-right-box .post-stat li a, .parimary-link, .secodary-link:hover, blockquote, .ld-blockquote, .bottom-links a:hover, .rating-symbol-background.fa-star-o, .ld-menu .has-menu > a:after {
    color: #034748
}

.nav-tabs > li > a:after {
    border-bottom-color: #00b289;
}

.ld-primary-btn:hover, .ld-search-btn, .ld-home-categoires li a:hover, .ld-post-quick-links li a.icon-quick-eye, .md-close i, .ld-menu-bar-color, .user-portfolio-stat ul li i, .ld-submit-btn:hover, .secondary-btn, .categories-container li a:hover, .price-plan-box, .btn-first-hover, .btn-second-hover:hover, .ui-autocomplete li:hover, .tes-icon i, .mm-listview .mm-next, .mm-navbar-size-1 a, .mm-listview a:hover, .active-tag:hover, .chosen-container .chosen-results li.highlighted, .ld-user-menu li a:hover, .double-bounce1, .double-bounce2, .lpmap-icon-shape.cardHighlight {
    background-color: #00B289
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .ld-h1 a:hover, .ld-h2 a:hover, .ld-h3 a:hover, .ld-h4 a:hover, .ld-h5 a:hover, .ld-h6 a:hover, .ld-blog-grid-category a:hover, .ld-blog-grid-title h4 a:hover, .footer-menu li a:hover, .email-icon, .email-address, .post-rice, .tags-container li a label
.tags-container li a:hover span, .ui-accordion .ui-accordion-header span, .post-stat .fa-star, .listing-page-result-row p a:hover, p a.achor-color, .blog-tags ul li a:hover, .post-meta-left-box .breadcrumbs li a:hover, .form-review-stars li.active a i, .post-meta-right-box .post-stat li a:hover, .parimary-link:hover, .secodary-link, blockquote:after, .ld-blockquote:after, .ld-join-now a:hover, .ld-add-listing-btn ul li a:hover, .bottom-links a, .overlay-video-thumb:hover i, .rating-symbol-foreground .fa-star, .tags-container li a span.tag-icon, .tags-container li a:hover span, .post-stat li a:hover, .post-reviews .fa-star {
    color: #00B289
}

.menu ul.sub-menu li a:hover, .menu ul.sub-menu li:first-child a:hover, .ui-autocomplete li:hover, .menu ul.sub-menu li:hover > a {
    border-color: #00B289 !important
}

.lpmap-icon-shape.cardHighlight:after {
    border-top-color: #00B289 !important
}

.lpmap-icon-contianer {
    border-color: #00B289
}

p, .ld-search-input, .user-name a {
    color: #3e3e3e
}

.ld-search-input, .testimonial-description, .menu ul.sub-menu li a, .user-portfolio, .user-description-box, .ld-grid-box, .ld-form-container, .blog-single-inner-container, .post-meta-info, .comments-container, .comments-form, .post-author-box, .widget-bg-color, .price-plan-box-bottom, .page-innner-container, .about-box-inner, .ld-list-view-inner-contianer, .post-with-map-container-right {
    background-color: #fff
}

.ld-topbar-menu li a, .ld-primary-btn:hover, .ld-menu ul li a, .ld-join-now a, .ld-add-listing-btn ul li a, .ld-banner-browse-txt, .ld-home-banner-contianer-inner, .ld-color-white, .ld-search-btn, .ld-search-description p, .ld-home-categoires li a span, .city-title .ld-h3 a, .ld-listing-quantity, .fa-star, .ld-post-quick-links li a i, .footer-menu li a, .ld-home-banner-contianer-inner h1, .footer-about-company li, .overlay-video-thumb i, .md-close i, .menu ul.sub-menu li a:hover, .page-heading-inner-container h1, .breadcrumbs li a, .breadcrumbs li span, .sidebar-breadcrumbs h2, .sider-bar-reset p, .dashboard-tabs .nav > li > a, .user-portfolio-stat ul li i, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .ld-grid-box-expired i, .ld-grid-box-expired span, .blog-single-page .ld-blog-grid-author li i, .blog-single-page .ld-blog-grid-author li span, .blog-heading-inner-container h1, .ld-submit-btn, .secondary-btn, .secondary-btn:hover, .categories-container li a, .price-plan-box-upper h1, .price-plan-box-upper p, .ld-secondary-btn:hover, .ui-autocomplete li:hover, .tes-icon i, .md-closer:hover, .ld-menu-bar-color .ld-add-listing-btn ul li a:hover, a.btn-first-hover:hover, .mm-navbar-size-1 a, .mm-listview a:hover, .secondary-btn:active, .secondary-btn:focus, .active-tag:hover, .ld-user-menu li a:hover, .ld-menu .has-menu:hover > a:after, .ld-grid-box-bottom span, .ld-add-to-fav, .ld-add-to-fav:hover, .hot-post, .sider-bar-reset .achor-color:hover {
    color: #fff;
}

.nav-tabs > li > a:hover:after, .nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {
    border-bottom-color: #f9f9f9
}

.ld-topbar, .ld-home-categoires li a, .ld-grid-box-bottom, .footer-upper-bar {
    background-color: #00b289;
}

.aliceblue {
    background-color: #f9f9f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    border-top: 1px solid rgba(0, 0, 0, 0.075);
}

.testimonial-description.aliceblue:after {
    border-top: 15px solid #eff3f6
}

.fa-star-o {
    color: #ababab
}

[data-tooltip].simptip-position-top:before {
    border-top-color: #00B289
}

[data-tooltip].simptip-position-top:after {
    background-color: #00B289;
    color: #fff
}

[data-tooltip].simptip-position-bottom:before {
    border-bottom-color: #00B289
}

[data-tooltip].simptip-position-bottom:after {
    background-color: #00B289;
    color: #fff
}

[data-tooltip].simptip-position-left:before {
    border-left-color: #00B289
}

[data-tooltip].simptip-position-left:after {
    background-color: #00B289;
    color: #fff
}

[data-tooltip].simptip-position-right:before {
    border-right-color: #00B289
}

[data-tooltip].simptip-position-right:after {
    background-color: #00B289;
    color: #fff
}

[data-tooltip].simptip-position-top.half-arrow:before {
    border-right: 7px solid #00B289
}

[data-tooltip].simptip-position-bottom.half-arrow:before {
    border-right: 7px solid #00B289
}

@media screen and (max-width: 480px) {
    .ld-menu-container {
        background-color: #00B289
    }
}